@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body,html{
    color:white;
    background-color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/*Alterar a cor da fonte do <a> da navbar*/
#header{
    background-color: #1C1C1C!important;
}

.cor-fonte{
    color: white!important;
}

 .cor-fonte:hover{
    color: #FFD000!important;
}

.navbar-toggler{
    color: white;
}

/*Altera a cor do sanduiche menu de navegação mobile*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }


   .bg-primary-color{
    background-color: #FFF;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

/* Estilização da descrição do corpo */
#main{
    height: 70%;
    background-image: url(./img/netflixescuro.png);
    background-repeat: no-repeat;
}

.texto-main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}